---
layout: default
title: Portfolio
permalink: /portfolio/
---

<div class="row">
  <div class="col-md-12 text-right">
    <h1 class="heading">Portfolio</h1>
  </div>
</div>
<hr>

<div class="container">


  {% for post in site.categories.portfolio %}

  <div class="repeat-animation gallery">
    <div class="row">
      <div class="col-md-7">
        {% if post.thumbnail %}
        <img src="/assets/images/{{post.thumbnail}}" 
             class="img-responsive gallery" data-toggle="modal" data-target="#{{post.id | replace: '/','_'}}">
        
        {% endif %}
      </div>
      <div class="col-md-5">
        <h3>{{ post.title }}</h3>
        <h4>{{ post.date | date: "%Y" }} </h4>
        <a  class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}"> Details <span class="glyphicon glyphicon-eye-open"></span></a>
      </div>
    </div>
    <hr  class="animate-repeat">



    <!-- Modal -->
    <div class="modal fade" id="{{post.id | replace: '/','_' }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          {% if post.thumbnail %}
          <img  class="img-responsive modal-image" src="/assets/images/{{ post.fullimage}}" alt="{{post.title}}" />
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
